# If you want some examples of settings, check out:
# https://github.com/atom/language-gfm/blob/master/settings/gfm.cson

'.source.sas-ext':
  'editor':
    'commentStart': '/\* '
    'commentEnd': ' \*/'
    'increaseIndentPattern': '(?i:(\\bdo\\b(.(?!end;))*$|\\bbegingraph\\b(.(?!endgraph;))*$|^\\s*(proc|data|%macro)\\s+.*;\\s*$))'
    'decreaseIndentPattern': '(?i:(^\\s*(%?end|endgraph|endsas|run|quit|%mend)\\s*;))'
    'indentNextLinePattern': '[^;]\\s*$'
